Flask==0.10.1
Flask-OAuth==0.12
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.19
PyYAML==3.10
WTForms==1.0.5
Werkzeug==0.9.4
beautifulsoup4==4.3.2
flask-mongoengine==0.7.0
gevent==1.0
grequests==0.2.0
httplib2==0.9
itsdangerous==0.23
mongoengine==0.8.7
oauth2==1.5.211
pymongo==2.7
tweepy==2.2
wsgiref==0.1.2
