body {
    margin-top: 60px;
}

.twitt-block {
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
    width: 450px;
    display: inline-block;
    padding: 3px;
}

.twitt-block .avatar {
    text-align: center;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
}

.twitt-block .avatar img {
    border-radius: 100px;
}


.twitt-block .author {
    font-size: 10px;
    color: #777;
    float: left;
}

.twitt-block .created_at {
    font-size: 10px;
    color: #aaa;
    float: right;
}

.record-form input[type=text]{
    font-size: 130%;
    padding: 10px;
}