body {
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    background-image: url('../img/ice_age.png');
}

.twitt-block {
    margin-bottom: 30px;
    width: 90%;
    display: inline-block;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.twitt-block .msg {
    font-weight: 300;
}

.twitt-block .footnotes {
    font-style: italic;
    font-weight: 100;
    font-size: 80%
}

.twitt-block .avatar {
    text-align: center;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    border: 3px solid #149C82;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.twitt-block .avatar img {
    border-radius: 100px;
}


.twitt-block .author {
    color: #777;
    float: left;
}

.twitt-block .created_at {
    color: #aaa;
    float: right;
}

.record-form input[type=text]{
    font-size: 130%;
    padding: 10px;
}