body {
    margin-top: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    background-image: url('../img/intro-bg.jpg');
    background-position: center center;
    background-attachment: fixed;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200 !important;
    margin-bottom: 30px;
}

.navbar-default {
    background-color: rgba(0,0,0,0.2);
}

.mywell {
        display: none;
}


@media(min-width:1024px) {
    .mywell {
        display: block;
        background-color: rgba(255,255,255,0.8);
        position: fixed;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    }
}

.navbar-brand {
    padding-top: 13px;
}

.messages-container {

}

.messages {
    background-color: rgba(255,255,255,1);
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.schedule {
    margin-top: 30px;
    border-radius: 20px;
}

.twitt-block {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    min-height: 110px;
    border-bottom: 2px inset rgba(0,0,0,0.3);
}

.twitt-block .msg {
    font-weight: 300;
}

.twitt-block .footnotes {
    font-style: italic;
    font-weight: 100;
    font-size: 80%
}

.twitt-block .avatar {
    text-align: center;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    border: 3px solid rgba(255,255,255,0.8);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.twitt-block .avatar img {
    border-radius: 100px;
}


.twitt-block .author {
    color: #777;
    font-size: 80%;
}

.twitt-block .created_at {
    color: #aaa;
    float: right;
}

.record-form input[type=text]{
    font-size: 130%;
    padding: 10px;
}

.label-info {
    font-weight: 400;
}

.about-text h2 {
    font-size: 30px;
   font-weight: 100;
}

.about-text {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.registration {
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    text-align: center;
}

.row {
    width: 100%;
}

.dark {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 15%;
    background-color: black;
}

.footer {
    margin-top: 30px;
    text-align: center;
}

.real-content {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}