body {
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    background-image: url('../img/ice_age.png');
}

.navbar-brand {
    padding-top: 13px;
}

.messages-container {
    min-height: 500px;
    overflow-y: scroll;
}

.messages {
    position: absolute;
}

.twitt-block {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    display: inline-block;
    padding: 5px;
    background-color: white;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    font-size: 70%;
}

.twitt-block .msg {
    font-weight: 300;
}

.twitt-block .footnotes {
    font-style: italic;
    font-weight: 100;
    font-size: 80%
}

.twitt-block .avatar {
    text-align: center;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    border: 3px solid #149C82;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.twitt-block .avatar img {
    border-radius: 100px;
}


.twitt-block .author {
    color: #777;
}

.twitt-block .created_at {
    color: #aaa;
    float: right;
}

.record-form input[type=text]{
    font-size: 130%;
    padding: 10px;
}