<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZombieTweet</title>


    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,100,200' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/zombietweet.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-image-gallery.min.css">

  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/dashboard">
            <img src="/static/img/logo-white-small.png" alt="ZombieTweet">
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/dashboard"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
              <li><a href="/list"><i class="glyphicon glyphicon-record"></i> My schedules</a></li>
          </ul>
          {% if session.user_id %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img class="img-circle" src="{{ session.profile_image_url.replace('_normal', '_mini') }}" />
                {{ session.user }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('get_user', id=session.user_id) }}">my profile</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        {% for message in get_flashed_messages() %}
          <div class="flash alert alert-dismissable alert-success">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
      ZombieTweet |
      <a href="http://www.zombietweet.com">About</a> |
      <a href="http://indiegogo.com/projects/zombietweet">Crowdfunding on IndieGoGo</a> |
      <a href="http://www.zombietweet.com#contacts">Contacts</a>
    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/zombietweet.js"></script>

    <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/static/js/bootstrap-image-gallery.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37197772-3', 'mytwistory-acarmisc.rhcloud.com');
  ga('send', 'pageview');

</script>

  <!-- gallery -->
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <!-- end gallery -->

  </body>
</html>