{% extends "layout.html" %}
{% block body %}

        <h3>New</h3>
        <!-- replace action with ... -->
        <form class="form-inline well record-form" id="new-ticket-form" role="form"
        action="/save" method="POST">
<p class="pull-right"><input type="submit" class="btn btn-primary" value="Save" /></p>
          {% import "_inline_forms.html" as forms %}
          {{ forms.render(form) }}


        </form>

        <h4>History</h4>
        <table class="table table-hover full-table">
        <tr>
            <th>Subject</th>
            <th>#</th>
            <th>From</th>
            <th>To</th>
            <th></th>
        </tr>
      {% for schedule in entries %}
        <tr class="schedule-entry">
            <td><a href="/show/{{ schedule.id }}">{{ schedule.subject }}</a></td>
            <td>#{{ schedule.hashtag }}</td>
            <td>{{ schedule.start_date }}</td>
            <td>{{ schedule.end_date }}</td>
            <td>

            </td>
        </tr>

      {% endfor %}
    </table>

{% endblock %}
