{% extends "layout-public.html" %}
{% block body %}


  <div class="container">
    <div class="schedule col-md-6">
      <div class="fixed-block col-md-4">
        <div class="well mywell">
        <div class="author-profile pull-left">
          <div align="center">
            <img class="img-circle" src="{{ session.profile_image_url.replace('_normal', '_bigger') }}" />
          </div>
          <div>
            <a href="http://twitter.com/{{ schedule.uid }}">@{{ schedule.uid }}</a>
          </div>
        </div>
        <div>
          <h4>{{ schedule.subject }}</h4>
          <h3 class="hashtag">#{{ schedule.hashtag }}</h3>
        </div>

        <p align="left">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="acarmisc" data-size="large" data-hashtags="zombietweet"><img src="/static/img/icon-share.png" /> Tweet</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>



      <div class="user-warning">
        <p><img src="/static/img/danger.png" /><br /> ONLY THE BRAVE! AT THE MOMENT THIS IS ONLY AN EXPERIMENT: YOU CAN SIGN IN WITH TWITTER AND HAVING SOME TESTS.</p>

        <p align="center">
          <a class="btn btn-success" href="http://www.zombietweet.com">More info</a>
        </p>
      </div>
    </div>
    </div>

    <div class="messages-container col-md-6">
      <div class="messages">

        {% for message in zombies %}
          <div class="twitt-block">
            <div class="created_at pull-right">{{ message.created_at.strftime('%d %b %y %H:%M') }}</div>
            <div class="avatar">
              <img src="{{ message.avatar.replace('_normal', '_bigger') }}" />
            </div>
            <div class="author">
              <a target="_blank" href="http://twitter.com/{{ message.author }}">{{ message.author }}</a>
            </div>
            <div class="msg">{{ message.text_parsed()|safe }}</div>
          </div>
        {% endfor %}

      </div>
    </div>

  </div>

{% endblock %}