{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="schedule col-md-6">
      <div class="fixed-block col-md-4">
      <div class="well mywell">
        <div class="author-profile pull-right">
          <div>
            <img class="img-circle" src="{{ session.profile_image_url.replace('_normal', '_bigger') }}" />
          </div>
          <div>
            <a href="http://twitter.com/{{ schedule.uid }}">@{{ schedule.uid }}</a>
          </div>
        </div>
        <h3>{{ schedule.subject }}</h3>
        <h2 class="hashtag">#{{ schedule.hashtag }}</h2>
        <div class="interval">
          <p class="false-block" style="width: 45%">
            from <br /><span class="label label-info">{{ schedule.start_date.strftime('%d %b %y %H:%M') }} UTC</span>
          </p>
          <p class="false-block" style="width: 45%">
            to <br /><span class="label label-info">{{ schedule.end_date.strftime('%d %b %y %H:%M') }} UTC</span>
          </p>
        </div>

        <p align="center">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="acarmisc" data-size="large" data-hashtags="zombietweet"><img src="/static/img/icon-share.png" /> Tweet</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>

      </div>
    </div>
    </div>

    <div class="messages-container col-md-6">
      <div class="messages">

        {% for message in zombies %}
          <div class="twitt-block">
            <div class="created_at pull-right">{{ message.created_at.strftime('%d %b %y %H:%M') }}</div>
            <div class="avatar">
              <img src="{{ message.avatar.replace('_normal', '_bigger') }}" />
            </div>
            <div class="author">{{ message.author }}</div>
            <div class="msg">{{ message.text }}</div>
          </div>
        {% endfor %}

      </div>
    </div>

  </div>

{% endblock %}