{% extends "layout.html" %}
{% block body %}

<div class="container fullbody">
  <div class="col-md-4">
    <div class="context-data col-md-3">
      <div class="schedule-data">
        <h4>{{ schedule.subject }}</h4>
        <h3 class="hashtag">#{{ schedule.hashtag }}</h3>

        <div class="interval" style="clear: both">
          <p class="false-block" style="width: 45%">
            from <br /><span class="label label-info">{{ schedule.start_date.strftime('%d %b %y %H:%M') }} UTC</span>
          </p>
          <p class="false-block" style="width: 45%">
            to <br /><span class="label label-info">{{ schedule.end_date.strftime('%d %b %y %H:%M') }} UTC</span>
          </p>
        </div>
      </div>

      <div class="profile">
        <div class="profile-image">
          <img class="img-circle" src="{{ session.profile_image_url.replace('_normal', '_200x200') }}" />
        </div>
        <p class="profile-name"><a href="http://twitter.com/{{ schedule.uid }}">@{{ schedule.uid }}</a></p>
      </div>

      <div class="inpage-stats">
        <p class="false-block">
          visits <br />
          <span class="label label-info">{{ statistics.views }}</span>
        </p>
        <p class="false-block">
          starred<br />
          <span class="label label-info">0</span>
        </p>
        <p class="false-block">
          links <br />
          <span class="label label-info">{{ statistics.links }}</span>
        </p>
        <p class="false-block">
          images<br />
          <span class="label label-info">0</span>
        </p>
        <p class="false-block">
          users<br />
          <span class="label label-info">{{ statistics.users }}</span>
        </p>

      </div>

      <div class="social">
        <p align="left">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="acarmisc" data-size="large" data-hashtags="zombietweet"><img src="/static/img/icon-share.png" /> Tweet</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>
      </div>

    </div>
  </div>

  <div class="col-md-8">
    <div class="messages-container">
      <div class="messages">

        {% for message in zombies %}
          <div class="twitt-block">
            <div class="created_at pull-right">{{ message.created_at.strftime('%d %b %y %H:%M') }}</div>
            <div class="avatar">
              <a target="_blank" href="http://twitter.com/{{ message.author }}">
                <img src="{{ message.avatar.replace('_normal', '_bigger') }}" />
              </a>
            </div>
            <div class="author">
              <a target="_blank" href="http://twitter.com/{{ message.author }}">{{ message.author }}</a>
            </div>
            <div class="msg">{{ message.text_parsed()|safe }}</div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

</div>

{% endblock %}