{% extends "layout.html" %}
{% block body %}

<div class="col-md-8">
    <div class="well">
        <div class="profile-top">
            <div class="">
                <h2>
                    <img class="img-circle" src="{{ user.profile_image_url.replace('_normal', '_bigger') }}" />
                    {{ user.username }}
                    <span class="badge">{{ schedules.count() }}</span>
                </h2>
            </div>
        </div>
        <div>
            <form class="form-horizontal" role="form" method="POST"
                action="{{ user.id }}">

                {% import "_forms.html" as forms %}
                {{ forms.render(form) }}

                <input type="submit" class="btn btn-primary" value="Update" />
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
</div>

{% endblock %}