{% extends "layout.html" %}
{% block body %}
<div class="container fullbody">
    <div class="col-md-4">
        <h2>
            <img class="img-circle" src="{{ user.profile_image_url.replace('_normal', '_bigger') }}" />
            {{ user.username }}
            <span class="badge">{{ user.count_schedule() }}</span>
        </h2>
        <div>
            <form class="form-horizontal" role="form" method="POST" action="{{ user.id }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.first_name(class="form-control", placeholder="First Name", disabled="disabled") }}
                </div>
                <div class="form-group">
                    {{ form.last_name(class="form-control", placeholder="Last Name", disabled="disabled") }}
                </div>
                <div class="form-group">
                    {{ form.email(class="form-control", placeholder="E-mail", disabled="disabled") }}
                </div>
                <div class="form-group">
                    {{ form.token(class="form-control", placeholder="Token", disabled="disabled") }}
                </div>
                <div class="form-group">
                    {{ form.time_zone(class="form-control", placeholder="Time Zone", disabled="disabled") }}
                </div>
                <input type="submit" class="btn btn-primary" value="Update" />
            </form>
        </div>
        {% include 'partials/_btn_follow.html' %}
    </div>
</div>

<div class="col-md-4">
</div>

{% endblock %}